<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/css/unslider-dots.css" />
    <title>TASK B</title>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Hello Cloths</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="products.html">Products</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="survey.html">Survey</a></li>
            <li><a href = "http://www.google.com.au">Go to Google</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
      
      <!-- Main component for a primary marketing message or call to action -->
      <div class="container">


        <div class="col-md-5 col-md-offset-3">
              <div class="unslider-slider">
                <ul class="unslider-wrap unslider-carousel">
                  <li><img src="shared/img/tshirt1.jpg"></li>
                  <li><img src="shared/img/tshirt2.jpg"></li>
                  <li><img src="shared/img/tshirt3.jpg"></li>
                  <li><img src="shared/img/tshirt4.jpg"></li>
                </ul>
              </div>
            </div>

      </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/unslider/2.0.3/js/unslider-min.js" type="text/javascript"></script>

    <script>$(function() { $('.unslider-slider').unslider({ autoplay: true }); }); </script>

    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <span class="col-md-6 col-md-offset-5"> &copy; All Rights Reserved 2017 </span>
      </div>
    </footer>
  </body>
</html>
